<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
        <report>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="junit.xml"/>
        <teamcity outputFile="teamcity.txt"/>
    </logging>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="base64:08FBl6mvlpGeZ68j5AVNNUs/IBg4vsbpK0F0qBm+LHw="/>
    </php>
</phpunit>
